@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.container {
	font-family: "Roboto", sans-serif;
	color: #333;
	max-width: 640px;
	margin: 0 auto;
	padding: 10px;
	position: relative;
}

.header {
	font-size: 1.1em;
}

.header h1 {
	margin: 10px;
	margin-left: 0px;
}

.icon {
	float: right;
}


canvas {
	width: 100%;
}

#logo {
	width: 150px;
}

#loadingMessage {
	text-align: center;
	padding: 40px;
	background-color: #eee;
}

#toast {
	position: absolute;
	top: 15px;
	left: 20px;
	right: 20px;
	margin: auto;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 3px;

}

#toast.success {
	color: #155724;
	background: #d4edda;
	border: 1px solid #c3e6cb;
}

#toast.error {
	color: #721c24;
	background: #f8d7da;
	border: 1px solid #f5c6cb;
}


#toast.pop {
	animation-name: popUp;
	animation-duration: 0.3s;
}

#toast.fade {
	animation-name: fade;
	animation-duration: 0.2s;
	animation-direction: forward;
}



@keyframes popUp {
	from {
		transform: translateY(20px);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes fade {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}